nav{
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 0px;
  font-weight: bold;
}
nav a{
  color: rgb(168, 45, 73) !important;
  font-size: 15px;
  font-weight: bold;


}
nav #lastnav{
  border: 3px solid rgb(168, 45, 73);
  padding: 3px 30px;
  background-color: rgb(168, 45, 73);
  color: white!important;
box-sizing: border-box;

}
nav #lastnav:hover{
  background-color: #fff;
  color: rgb(168, 45,73)!important;
  transition: 0.2s ease-in-out;
}
nav img{
  max-width: 100%;
  height: 90%;

}